body {
    background: #fff;
    color: #444;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    letter-spacing: 1px;
}

.bg-header {
    background-size: cover;
    display: block;
    height: 40px;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
    width: auto;
}

.bg-header h1 {
    color: #444;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.bg-header h1 a {
    color: #444;
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .bg-header {
        height: 60px;
    }

    .bg-header h1 {
        line-height: 60px;
    }
}

.bg-footer {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
    width: auto;
}

.bg-home {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

.bg-container {
    background-size: cover;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
    width: auto;
}


/* Recipe */


.bg-recipe .quantity {
    font-family: 'IBM Plex Mono', monospace;
}