* {
    box-sizing: border-box;
}

body {
    background: #efefef;
    color: #444;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    margin: 0 0 30px 0;
}

.bg-header {
    background-size: cover;
    display: block;
    height: 40px;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
    width: auto;
}

.bg-header h1 {
    color: rgb(200,0,0);
    font-size: 18px;
    line-height: 40px;
    text-align: left;
}

.bg-header h1 a {
    color: rgb(200,0,0);
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .bg-header {
        height: 60px;
    }

    .bg-header h1 {
        font-size: 26px;
        line-height: 60px;
    }
}

.bg-footer {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
    width: auto;
}

.bg-home {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

.bg-container {
    background-size: cover;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 900px;
    padding: 40px 20px;
    width: auto;
}

/* Home */

.post-list,
.post-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
}

.post-list li {
    flex: 1 1 auto;
    margin-bottom: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

.post-list h3 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.post-list a {
    border-bottom: 1px solid transparent;
    color: #444;
    display: inline-block;
    text-decoration: none;
}

.post-list a:hover,
.post-list a:active {
    border-bottom: 1px solid rgb(200,0,0);
    color: rgb(200, 0, 0);
}

.post-list .bullet {
    color: rgb(200, 0, 0);
    display: inline-block;
}


/* Recipe */


.bg-recipe .quantity {
}

.bg-recipe h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .bg-recipe h1 {
        font-size: 36px;
    }
}

.bg-recipe h1 span {
    color: rgb(200, 0, 0);
    display: inline-block;
}

.bg-recipe .bg-image {
    display: block;
    height: 50vh;
    overflow: hidden;
    position: relative;
    width: auto;
}

.bg-recipe .bg-image .title {
    background: linear-gradient(45deg, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;
}

.bg-recipe .bg-image .title h1 {
    color: #fff;
}

.bg-recipe .bg-image img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.bg-recipe .bg-image .bg-container {
    flex: 0 0 auto;
    max-width: 900px;
    width: 100%;
}