---
layout: default
---
<div class="bg-container bg-home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <span class="bullet">⟩</span> <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {% for category in site.categories %}
      <h3>{{ category[0] }}</h3>
    {% endfor %}
  
</div>