---
layout: default
---
<div class="bg-recipe bg-container">
    <h1><span class="bullet">⟩</span> {{ page.title }}</h1>

    <div class="description">
        <p>{{ page.intro | markdownify }}</p>
    </div>

    <div class="ingredients">
        <h2>Ingredienti</h2>

        <ul>
            {% for ingredient in page.ingredients %}
            <li>
                <div class="texts">
                    <span class="bullet">⟩</span>
                    <span class="name">{{ ingredient.name }}:</span>
                    <span class="quantity">{{ ingredient.quantity }}</span>
                </div>
                {% if ingredient.notes != '' %}
                    <div class="notes">
                        {{ ingredient.notes | markdownify }}
                    </div>
                {% endif %}
                {% if ingredient.image != '' %}
                <div class="image">
                    <img src="{{ site.url }}/{{ site.baseurl }}/{{ ingredient.image }}" alt="{{ ingredient.name }}">
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="steps">
        <h2>Preparazione</h2>

        <ul class="blocks">
            {% for step in page.steps %}
            <li>
                <div class="texts">
                    {% if step.title != '' %}
                    <h3 class="title">{{ step.title }}</h3>
                    {% endif %}
                    {% if step.description != '' %}
                    <p class="description">{{ step.description | markdownify }}</p>
                    {% endif %}
                    {% if step.time != '' %}
                    <p class="time">Tempo: {{ step.time }}</p>
                    {% endif %}
                </div>
                {% if step.image != '' %}
                <div class="image">
                    <img src="{{ site.url }}/{{ site.baseurl }}/{{ step.image }}" alt="">
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>